div {
    background-color: #FEFFB6;
    color: white;
    padding: 14px;
    display: flex;
}

h1 {
    margin-left: 12px;
    font-weight: 100;
    font-display: inherit;
    font-size: xx-large;
    color: black;
    margin-left: 42%;
    font-family: 'Lobster', cursive;
}

.icon {
    color: black;
}