#footer {
    background-color: rgb(129, 131, 127);
    padding: 0 0 30px;
    display: flex;
    width: 100%;
  }
  
  #footer1, #footer2, #footer3 {
    text-align: left;
    padding: 0 0 0 50px;
    color: rgb(255, 255, 255);
    font-family: serif;
    font-style: italic;
  }
  
  .footer-links {
    font-family: serif;
    font-style: italic;
    font-size: larger;
    text-align: left;
    padding: 10px 0 0 50px;
    color: #050000;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
  }